<div class="container" style="text-align:center">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>AngularJS v{{home.number}}.x Starter</h1>

                <div>
                    <p>
                    Click increment and decrement to see version number changing.
                    </p>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-lg" ng-click="home.increment()"> Increment </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-danger btn-lg" ng-click="home.decrement()"> Decrement </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>