<div class="container">
    <form ng-submit="todo.addTask()">
        <input class="form-control todos__create-input" placeholder="What do I need to do?" ng-model="todo.task"/>
        <button class="btn btn-success todos__create-button">Create Task</button>
    </form>

    <table class="table table-striped">
        <tr>
            <th>Completed?</th>
            <th>Task</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="t in todo.todos">
            <td><input type="checkbox" ng-checked="t.isCompleted" ng-click="todo.onCompletedClick(t)"/></td>
            <td>
                <span
                    ng-if="!t.isEditing"
                    class="todos__task" 
                    ng-class="{ 'todos__task--completed' : t.isCompleted  }">
                        {{t.task }}
                </span>

                <form ng-submit="updateTask(t)">
                    <input 
                        ng-if="t.isEditing" 
                        class="form-control todos__update-input" 
                        ng-value="t.task" 
                        ng-model="t.updatedTask"
                    />
                </form>
            </td>
            <td>
                <button class="btn btn-info" ng-if="!t.isEditing" ng-click="todo.onEditClick(t)">Edit</button>
                <button class="btn btn-danger" ng-if="!t.isEditing" ng-click="todo.onDeleteClick(t)">Delete</button>
                <button class="btn btn-primary" ng-if="t.isEditing" ng-click="todo.updateTask(t)">Save</button>
                <button class="btn btn-default" ng-if="t.isEditing" ng-click="todo.onEditCancelClick(t)">Cancel</button>
            </td>
        </tr>
    </table>
</div>